@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700&family=Poppins:wght@400;500;600;700&display=swap");

/* shared styles */

* {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #3a3a3a;
}
.btn-primary {
  border: none;
  border-radius: 38px;
  color: #fff;
  background: #e02c6d;
  padding: 8px 20px;
}
.btn-primary > i,
.featured-btn > i {
  color: #fff;
}

/* header styles */

header {
  padding: 50px 70px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
nav .nav-title {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.5rem;
  font-weight: 700;
}
header .banner-container {
  display: flex;
  padding-top: 50px;
}
header .banner-content {
  padding: 0 50px 0 0;
}
header .banner-content > p {
  margin-bottom: 20px;
}
header .banner-container .banner-title {
  font-size: 3.3rem;
  font-weight: 700;
}
header .header-img-bg {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  align-items: center;
  text-align: center;
}
header .header-img-bg > img {
  width: 100%;
}
header .other-site-link {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px 10px;
}

/* main style start */

main .popular-collection {
  padding: 0px 150px;
}
main .popular-collection h3 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
main .popular-collection .popular-collection-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-top: 50px;
  justify-content: center;
}
main .popular-collection .popular-collection-content .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px;
}
main .popular-collection .card img {
  width: 100%;
}
main .popular-collection .card .card-title {
  font-size: 28px;
  font-weight: 500;
}
main .popular-collection .card .card-price {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 8px 0;
}
main .popular-collection .card .card-rating {
  color: #5e6366;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding-bottom: 5px;
}
main .popular-collection .card .card-rating i {
  color: #fb8200;
}
main .popular-collection .button-holder {
  text-align: right;
}
.btn-main {
  color: rgba(224, 44, 109, 0.87);
  background: none;
  border: none;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 0;
}
.btn-main > i {
  color: rgba(224, 44, 109, 0.87);
}

main .featured {
  display: flex;
  gap: 50px;
  padding: 60px 70px;
  align-items: center;
}
main .featured > img {
  width: 100%;
}
main > .featured > .featured-title {
  font-family: Poppins;
  font-size: 2.3rem;
  font-weight: 700;
}
main > .featured .featured-btn {
  border: none;
  color: #fff;
  background: #e02c6d;
  padding: 8px 20px;
  margin-top: 30px;
}

/* footer style start */

footer {
  background: #0a0826;
  padding: 50px 0;
  text-align: center;
}
footer > h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}
footer > p {
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
footer .social-link i {
  color: #fff;
  margin-right: 20px;
}

/* responsive styles start */

/* mobile devices */

@media screen and (max-width: 576px) {
  header {
    padding: 30px 20px;
  }
  header nav,
  .banner-container,
  .featured {
    flex-direction: column;
    text-align: center;
  }
  header .banner-container,
  .featured {
    flex-direction: column-reverse;
  }
  header .banner-content {
    padding: 0;
  }
  header nav ul {
    text-align: center;
    justify-content: space-around;
    margin: 20px 0;
  }
  main .popular-collection {
    padding: 0px 40px;
  }
  main .popular-collection .popular-collection-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  main .featured {
    padding: 30px 20px;
  }
}

/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 30px 20px;
  }
  header nav {
    flex-direction: column;
    text-align: center;
  }
  header nav ul {
    text-align: center;
    justify-content: space-around;
    margin: 20px 0;
  }
  header .banner-container {
    flex-direction: column-reverse;
  }
  header .banner-content {
    padding: 0;
  }
  main .popular-collection {
    padding: 0px 30px;
  }
  main .popular-collection .popular-collection-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 30px 20px;
  }
  main .featured {
    padding: 20px 60px;
  }
}
